In [1]:
import pandas as pd

In [24]:
hist = pd.read_csv('./data/wikipedia_td.txt',sep="\\ ", header=None )
hist.head(10)

/tmp/ipykernel_10481/573446819.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  hist = pd.read_csv('./data/wikipedia_td.txt',sep="\\ ", header=None )

,0,1,2,3,4,5,6,7,8,9,...,989,990,991,992,993,994,995,996,997,998
0,0.000000,NaN,0.005114,NaN,0.011914,NaN,0.002739,NaN,0.002517,NaN,...,NaN,0.001224,NaN,0.001302,NaN,0.003428,NaN,0.003135,NaN,0.001055
1,0.000000,NaN,0.000000,NaN,0.001862,NaN,0.005478,NaN,0.002517,NaN,...,NaN,0.001530,NaN,0.003255,NaN,0.000857,NaN,0.000000,NaN,0.004219
2,0.000000,NaN,0.001136,NaN,0.008935,NaN,0.002130,NaN,0.002517,NaN,...,NaN,0.000459,NaN,0.003255,NaN,0.033419,NaN,0.003135,NaN,0.012658
3,0.000000,NaN,0.000000,NaN,0.000745,NaN,0.004565,NaN,0.002517,NaN,...,NaN,0.004436,NaN,0.001953,NaN,0.000857,NaN,0.000000,NaN,0.002110
4,0.000000,NaN,0.001705,NaN,0.000000,NaN,0.011260,NaN,0.000000,NaN,...,NaN,0.000153,NaN,0.019531,NaN,0.000857,NaN,0.000000,NaN,0.002110
5,0.007576,NaN,0.000000,NaN,0.000000,NaN,0.002130,NaN,0.000629,NaN,...,NaN,0.003518,NaN,0.004557,NaN,0.000857,NaN,0.003135,NaN,0.000000
6,0.000000,NaN,0.003409,NaN,0.002606,NaN,0.000609,NaN,0.001888,NaN,...,NaN,0.001071,NaN,0.003255,NaN,0.004284,NaN,0.000000,NaN,0.003165
7,0.000000,NaN,0.001136,NaN,0.002234,NaN,0.001826,NaN,0.003147,NaN,...,NaN,0.000765,NaN,0.001953,NaN,0.003428,NaN,0.000000,NaN,0.002110
8,0.000000,NaN,0.000000,NaN,0.000000,NaN,0.001826,NaN,0.000000,NaN,...,NaN,0.001377,NaN,0.000000,NaN,0.000857,NaN,0.000000,NaN,0.002110
9,0.000000,NaN,0.001705,NaN,0.000372,NaN,0.003652,NaN,0.001888,NaN,...,NaN,0.000459,NaN,0.001302,NaN,0.001714,NaN,0.000000,NaN,0.018987

In [28]:
hist = hist.dropna(axis= 1)
hist

,0,2,4,6,8,10,12,14,16,18,...,980,982,984,986,988,990,992,994,996,998
0,0.0,0.005114,0.011914,0.002739,0.002517,0.000937,0.004334,0.001149,0.011905,0.001972,...,0.002014,0.003086,0.000000,0.002520,0.001086,0.001224,0.001302,0.003428,0.003135,0.001055
1,0.0,0.000000,0.001862,0.005478,0.002517,0.003749,0.005417,0.001149,0.003968,0.001972,...,0.003021,0.000000,0.006270,0.004759,0.003529,0.001530,0.003255,0.000857,0.000000,0.004219
2,0.0,0.001136,0.008935,0.002130,0.002517,0.003749,0.013001,0.001149,0.003968,0.000000,...,0.002014,0.000000,0.000000,0.006999,0.002443,0.000459,0.003255,0.033419,0.003135,0.012658
3,0.0,0.000000,0.000745,0.004565,0.002517,0.001874,0.003250,0.002299,0.003968,0.001315,...,0.003021,0.000000,0.003135,0.000000,0.001086,0.004436,0.001953,0.000857,0.000000,0.002110
4,0.0,0.001705,0.000000,0.011260,0.000000,0.001874,0.002167,0.008046,0.003968,0.001315,...,0.003021,0.000000,0.003135,0.001680,0.016830,0.000153,0.019531,0.000857,0.000000,0.002110
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4418,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.001007,0.000000,0.000000,0.000000,0.000271,0.000000,0.000000,0.000000,0.000000,0.000000
4419,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4420,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4421,0.0,0.000000,0.000000,0.000000,0.005664,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000543,0.000000,0.000000,0.000000,0.000000,0.000000
4422,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000